<a href="https://colab.research.google.com/github/AndreSD74/mbaUSP-DataScience-2021/blob/main/GLM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Montar o Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
os.chdir("/content/drive/My Drive/Colab Notebooks/mbaUSP-DataScience-2021")  
!ls

data  GLM.ipynb  README.md  setup_colab.ipynb

### Instalando Bibliotecas

In [3]:
!pip install pyreadr # para carregar arquivos .RData

Collecting pyreadr
  Downloading pyreadr-0.4.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (409 kB)
     |████████████████████████████████| 409 kB 5.4 MB/s
Requirement already satisfied: pandas>0.24.0 in /usr/local/lib/python3.7/dist-packages (from pyreadr) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>0.24.0->pyreadr) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>0.24.0->pyreadr) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>0.24.0->pyreadr) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>0.24.0->pyreadr) (1.15.0)
Installing collected packages: pyreadr
Successfully installed pyreadr-0.4.2

### Carregando dados de Países

In [9]:
import pyreadr

result = pyreadr.read_r('data/paises.RData') 
print(result.keys())

odict_keys(['paises'])

In [10]:
import pandas as pd

In [12]:
paises = result["paises"]
paises

                     pais  cpi  idade      horas
rownames
1               Argentina  3.9     72  35.000000
2               Australia  8.7     64  32.000000
3                 Austria  7.9     72  32.000000
4                 Belgium  7.1     67  30.100000
5                  Brazil  4.0     59  35.000000
6                  Canada  8.9     61  33.400002
7                   Chile  6.2     70  34.000000
8                   China  2.5     49  34.000000
9                Colombia  4.0     79  33.000000
10                 Cyprus  6.3     58  32.000000
11             CzechÂ Rep  4.6     42  38.099998
12                Denmark  9.3     76  30.000000
13                  Egypt  2.1     59  32.000000
14                 France  6.8     70  30.000000
15                Germany  7.9     66  27.500000
16                 Greece  3.5     60  30.000000
17                Iceland  8.5     53  31.000000
18                  India  2.3     56  29.799999
19              Indonesia  1.8     63  33.500000
20                   Iraq  0.8     42  32.000000
21                Ireland  8.0     63  31.299999
22                  Italy  3.9     66  35.099998
23                 Jordan  2.0     58  32.000000
24             Kazakhstan  1.9     44  33.900002
25                 Kuwait  2.8     62  32.400002
26                Lebanon  1.5     39  31.700001
27               Malaysia  3.4     73  32.799999
28            Netherlands  8.8     61  26.799999
29           NewÂ Zealand  9.3     65  31.000000
30                 Norway  8.6     64  27.100000
31                   Oman  3.3     58  33.200001
32            Philippines  1.4     75  34.700001
33                 Poland  5.3     50  38.000000
34               Portugal  6.0     69  33.200001
35                Romania  3.7     67  34.500000
36                 Russia  2.1     46  34.900002
37          SaudiÂ Arabia  3.7     58  33.799999
38                 Serbia  3.5     61  34.500000
39          SouthÂ Africa  2.8     64  37.799999
40                  Spain  6.1     62  31.799999
41                 Sweden  9.2     70  30.000000
42            Switzerland  8.7     65  32.000000
43                  Syria  1.0     34  32.000000
44                 Taiwan  3.8     63  34.099998
45               Thailand  2.5     68  31.200001
46                 Turkey  4.4     61  34.500000
47                Ukraine  2.4     44  32.799999
48        UnitedÂ Kingdom  7.6     60  32.099998
49         UnitedÂ States  7.1     65  34.500000
50              Venezuela  2.8     51  34.900002